@font-face {
  font-family: 'geldotica';
  src: url('../../assets/font/geldotica.plainlight.ttf');
}

.header {
  font-family: 'geldotica';
  font-size: 6rem;
  margin-top: -4rem;
  padding: 3rem;
  color: #eee;
  text-shadow: rgb(19, 19, 19) 2px 2px 0px, rgb(22, 10, 10) 4px 4px 0px;
}
