.playerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.playerRed {
  background: rgb(253, 102, 133);
}

.playerYellow {
  background: rgb(255, 206, 103);
}
