@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: Josefin Sans;
  background-color: rgb(121, 60, 254);
}
